<div class="app-root">

  <div class="main">
    <app-bar-navigator>

    </app-bar-navigator>

    <div class="d-flex central-items container" id="contentWithCarousel">
      <app-bt-carousel class='container'></app-bt-carousel>
      <div class="content card-body container">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="angular" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <app-main-content></app-main-content>
  
    <app-my-footer class="my-footer"></app-my-footer>
  </div>
</div>